:root {
  --color-green: #98e033;
  --color-white: #fff;
  --color-black: #232323;
  --color-gray: #555;
  --color-yellow: #fce436;
}

*,
*::before,
*::after {
  transition: all 0.3s ease-in-out !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
}

h1,
p {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.bg-white-gray {
  background: #f1f1f1 !important;
}

.vektor-decoration {
  opacity: 0.1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transform: translateY(2%);
  -webkit-transform: translateY(2%);
  -moz-transform: translateY(2%);
  -ms-transform: translateY(2%);
  -o-transform: translateY(2%);
}

.char {
  font-family: "Kaisei HarunoUmi", serif !important;
  transform: translateY(200px);
  transition: transform 0.5s !important;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  -webkit-transition: transform 0.5s !important;
  -moz-transition: transform 0.5s !important;
  -ms-transition: transform 0.5s !important;
  -o-transition: transform 0.5s !important;
}

.icon,
.icon::before {
  font-family: "Font Awesome 6 Free" !important;
}

.bg-green {
  background-color: var(--color-green) !important;
}

.text-green {
  color: var(--color-green) !important;
}

.text-black {
  color: var(--color-black) !important;
}

.link-to i::before,
.link-to {
  color: var(--color-black) !important;
}

.link-to:hover i::before,
.link-to:hover {
  color: var(--color-green) !important;
}

.link-to:hover i {
  margin-left: 5px;
}

/* button edited */
.btn {
  border: none !important;
  outline: none !important;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden !important;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-primary {
  position: relative;
  width: fit-content !important;
  background-color: var(--color-white) !important;
  color: var(--color-black) !important;
  z-index: 1;
}

#gallery .btn-primary {
  background-color: var(--color-green) !important;
  overflow: hidden !important;
}

#gallery .btn-primary:hover i::before,
#gallery .btn-primary:hover {
  color: var(--color-white) !important;
}

#gallery .btn-primary i::before {
  color: var(--color-black);
}

#gallery .btn-primary::before {
  background-color: var(--color-black);
}

.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--color-green);
  z-index: -1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn-primary:hover::before {
  width: 100%;
}

/* navbar edited */
#hamburger-button {
  z-index: 9999;
  position: fixed;
}

#nav-link {
  position: fixed;
  width: 100% !important;
  height: 100vh;
  z-index: 9999;
  background-color: var(--color-black);
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: bottom;
}

#nav-link.active {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

#nav-link ul {
  position: fixed;
  flex-flow: column wrap !important;
  list-style: none !important;
}

#nav-link ul li a {
  font-size: 50px;
  color: var(--color-white);
}

#nav-link ul li a:hover {
  color: var(--color-green);
}

.tiles {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150vh;
  display: flex;
  opacity: 0.5;
  flex-direction: column;
  justify-content: center;
  transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
  -moz-transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
  -o-transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
}

.tiles__line {
  display: flex;
  transform: translateX(25%);
  animation: runner 10s linear infinite;
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  -o-transform: translateX(25%);
}

.tiles__line:nth-child(2) {
  animation-duration: 16s;
}

.tiles__line:nth-child(3) {
  animation-duration: 22s;
}

@keyframes runner {
  to {
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
  }
}

.tiles__line-img {
  --tile-margin: 3vw;
  flex: none;
  width: 30vh;
  height: 30vh;
  margin: var(--tile-margin);
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.tiles__line-img--large {
  width: 100vh;
  border-radius: 20vh;
  -webkit-border-radius: 20vh;
  -moz-border-radius: 20vh;
  -ms-border-radius: 20vh;
  -o-border-radius: 20vh;
}

.button-close {
  outline: none !important;
  border: none !important;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
}

.button-close svg {
  stroke: var(--color-gray);
  fill: none;
  width: 50px;
  height: 55px;
}

.button-close:focus-visible svg,
.button-close:hover svg {
  stroke: var(--color-white);
}

.button-menu {
  border: 1px solid var(--color-white);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: transparent;
}

.button-menu:hover {
  border-color: var(--color-gray);
}

.button-menu:hover svg path {
  stroke: var(--color-gray);
}

.button-menu svg {
  height: 60%;
  width: 50%;
  stroke: var(--color-white);
}

.load-more {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  padding: 10px 15px !important;
  border-radius: 999px !important;
  -webkit-border-radius: 999px !important;
  -moz-border-radius: 999px !important;
  -ms-border-radius: 999px !important;
  -o-border-radius: 999px !important;
  background: var(--color-green);
}

/* preload style */
#preload {
  position: fixed;
  z-index: 9999;
  background: url("../images/preload/preload.webp") no-repeat center/cover;
}

#preload h1 {
  font-size: 70px;
  color: var(--color-white);
}

.loading {
  font-size: 10px;
  font-style: italic;
}

/* hero section */
.bg-wrapper {
  background: rgba(0, 0, 0, 0.55);
}

#hero .char {
  font-size: 230px;
  color: var(--color-white) !important;
}

#hero .text {
  bottom: 5%;
}

#hero .left,
#hero .right {
  width: 100% !important;
}

#hero .left-text,
#hero .left {
  flex: 0 0 70%;
}

#hero .right-text,
#hero .right {
  flex: 0 0 30%;
}

#hero .right a {
  font-size: 20px;
  width: 80% !important;
  border-radius: 999px !important;
  padding: 20px 10px !important;
  -webkit-border-radius: 999px !important;
  -moz-border-radius: 999px !important;
  -ms-border-radius: 999px !important;
  -o-border-radius: 999px !important;
  margin-bottom: 35px;
}

/* history */
#history .container {
  gap: 50px;
}

#history .image-wrapper {
  flex: 0 0 40%;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

#history .description {
  flex: 0 0 60%;
}

#history .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery .left,
#gallery .right {
  flex: 0 0 50%;
}

#gallery .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#gallery .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.custom-hero-title-d {
  opacity: 0;
  font-size: 64px;
}

.custom-hero-title-d .line {
  overflow: hidden !important;
}

.img-thumb-history {
  opacity: 0;
  /* width: 0%; */
  max-height: 119px;

}

.filter-menu {
  filter: invert(1);
}

.custom-bg-history {
  opacity: 0;
  /* transform: translateY(100px); */
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.radius-default {
  border-radius: 15px;
}

.right-0 {
  right: 0;
}

.cs-floating-text {
  position: relative;
  width: 30%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cs-floating-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  height: 40px;
  width: 40px;
  border-top-right-radius: 15px;
  background: transparent;
  box-shadow: 20px 0 0 0 white;
}

.cs-floating-text:after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 15px;
  background: transparent;
  box-shadow: 0 -20px 0 0 white;

}

.hero-arrow {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.caption-hero {
  font-size: 0.9rem;
}

.btn-hero-wrapper {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  bottom: 20px;
  left: 30px;
}

.btn-hero-anchor {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border: 2px solid white;
  padding: 8px 12px;
  border-radius: 40px;
  background: rgba(233, 231, 231, 0.20);
}

.btn-hero-anchor:hover {
  background: rgba(233, 231, 231, 0.066);
}

@media (max-width: 368px) {
  #hero .char {
    font-size: 60px !important;
  }
}

@media (max-width: 768px) {
  #hero .right-text {
    flex: 0 0 70% !important;
  }

  #hero .left-text {
    flex: 0 0 30% !important;
  }

  #hero .text {
    gap: 15px;
    padding: 0 15px !important;
  }

  #hero .right a {
    font-size: 15px !important;
    padding: 15px 5px !important;
  }

  #gallery .images {
    flex-direction: column !important;
  }
}

@media (max-width: 992px) {
  #hero .wrapper {
    flex-direction: column !important;
    gap: 20px;
  }

  #hero .char {
    font-size: 100px;
  }

  #hero .right a {
    width: fit-content !important;
  }

  #hero .left-text,
  #hero .right-text {
    flex: 0 0 50%;
  }

  .button-menu {
    right: 5%;
    width: 50px;
    height: 50px;
  }

  .top-section {
    flex-direction: column;
  }

  .top-section h1 {
    width: 100% !important;
  }

  .top-section .img-thumb-history {
    display: none;
  }

  .custom-hero-title-d {
    font-size: 40px;
  }

  .cs-floating-text {
    width: 50%;
  }

  .btn-hero-wrapper {
    width: 80%;
  }
}

@media(max-width: 760px) {
  .cs-floating-text {
    width: 80%;
  }
}

@media (min-width: 992px) {
  #hero .char {
    font-size: 175px;
  }

  .button-menu {
    right: 5% !important;
  }
}

@media (max-width: 1050px) {
  #history .container {
    flex-direction: column !important;
  }
}

@media (min-width: 1440px) {
  .button-menu {
    right: 11.5% !important;
  }

  #hero .char {
    font-size: 200px !important;
  }
}